@import '../scss/colors.scss';

.button {
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;

    &:disabled {
        cursor: not-allowed;
    }

    &.blue {
        background-color: $color_darkBlue;

        &:disabled {
            background-color: $color_veryLightBlue;
        }

        &:hover:not(:disabled) {
            background-color: $color_lightBlue;
        }
    }

    &.red {
        background-color: $color_darkRed;

        &:disabled {
            background-color: $color_veryLightRed;
        }
        
        &:hover:not(:disabled) {
            background-color: $color_lightRed;
        }
    }

    &.orange {
        background-color: $color_darkOrange;

        &:disabled {
            background-color: $color_veryLightOrange;
        }
        
        &:hover:not(:disabled) {
            background-color: $color_lightOrange;
        }
    }
}