.icons {
    margin: 0 auto;
    padding: 20px;
    
    .header {
        margin: 0 0 20px;
    }
    
    .iconList {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;

        a {
            max-width: 16%;

            &:not(:first-child) {
                margin-left: 30px;
            }

            img {
                max-height: 50px;
                max-width: 100%;
            }
        }
    }
}