$color_darkBlue: #1B4F72;
$color_lightBlue: #2E86C1;
$color_veryLightBlue: #85C1E9;
$color_darkRed: #78281F;
$color_lightRed: #CB4335;
$color_veryLightRed: #F1948A;
$color_darkGreen: #186A3B;
$color_white: #FFFFFF;
$color_darkOrange: #D68910;
$color_lightOrange: #F39C12;
$color_veryLightOrange: #FAD7A0;